@media only screen and (min-width: 40em) {
    h1 {
        font-size: 2rem;
    }

    .header-bar {
        display: flex;
        background-color: black;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem;
    }
    .header-flex {
        padding-left: 0.5rem;
        display: flex;
        /* align-items: space-between; */
        gap: 1rem;
    }
    .navigation {
        display: flex;
        align-items: center;
    }

    .navigation ul {
        display: flex;
        justify-content: space-between;
        /* padding-left: 3rem; */
        gap: 1rem;
    }

    .navigation li {
        display: flex;
        flex: 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        max-width: var(--maxw);
        margin: 1rem auto 2rem;
        padding: 0 1rem;
        z-index: -1;
    }


}